# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual Environments
venv/
.env/
.venv/

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Optional: icon build artifacts
*.iconset/